<div class="container">

<h1>YESSSSSSS</h1>

<%= current_user.id %>
<ul>
<% @tasks.each do |task| %>
<li><%= task.name %></li>
<% end %>
</ul>
<ul>
<% @players.each do |player| %>
<li><%= player.pseudo %></li>
<% end %>
</ul>

<p>Attributions :</p>

  <ul>
    <% @mixandmatch.attributions.each do |attribution| %>
    <li><%= attribution.player.pseudo %> - <%= attribution.task.name  %> </li>
    <% end %>
  </ul>

<% @players.each do |player| %>
<%= player.pseudo %>
<% end %>

</div>



