<%= render '/shared/navbar' %>
<div class="container">
    <h2 class="centercontentformanditems">Ma liste de tâches</h2>
  <div class="formanditems">

    <div class="left-form">
      <%= render 'new' %>
    </div>

    <div class="itemslist">
      <ul>
        <% @tasks.each do |task| %>
        <div class="taskcard">
          <div class="taskcard-color"></div>
            <div class="taskcard-content">
              <strong><%= task.name.capitalize %></strong>
              <%= link_to "delete", task_path(task), method: :delete %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>


<div class="container rightcontentformanditems">
  <%= link_to "start adding players", players_path, class: "btn btn-success" %>
</div>


</div>
