<div class="container">
  <h1>New task</h1>
  <%= simple_form_for(@task) do |f| %>
    <div class="form-inputs">
      <%= f.input :name, required: true %>
      <%#= f.input :repeatable, as: :radio_buttons %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div>
  <%= render 'index' %>
</div>
<div class="container">
  <%= link_to "start adding players", new_player_path, class: "btn btn-primary" %>
</div>

