<div class="container">
  <h1>New task</h1>
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :name, required: true %>
    <%#= f.input :repeatable, as: :radio_buttons %>
    <%= f.submit%>
  <% end %>
</div>
<div>
  <%= render 'index' %>
</div>
<div class="container">
  <%= link_to "start adding players", new_player_path %>
</div>

